/* External Css:  */
body {
    margin: 0;
    padding: 0;
}

.Logo {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27374D;
    padding: 10px;
}

.navbar ul {
    margin-right: 414px;
    padding: 0px 31px 0px 142px;
    display: flex;
    gap: 10px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 1.3rem;

}

.navbar ul li a:hover {
    background-color: #fff;
    color: #27374D;
}

.Member-logo {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.Member {
    list-style: none;
}

.Member a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.Member a:hover {
    background-color: white;
    color: black;
}

#home {
    height: 500px;
    width: 97%;
    background-color: #526D82;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

#home h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}


#home .MainText {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
    margin-bottom: 20px;
}

#home a {
    text-decoration: none;
}

#home button {
    background-color: #ffffff;
    color: #27374D;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#home button:hover {
    background-color: #E2E8F0;
}

#home ul {
    position: absolute;
    left: 20px;
    top: 500px;
    list-style-type: none;
    color: #ffffff;
    font-size: 16px;
}

#home ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#home ul li img {
    margin-right: 10px;
    height: 16px;
    width: 16px;
}

footer {
    background-color: #27374D;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Making REsposive to the design! */
@media Only screen and (max-width:600px){
    .Logo {
        width: 30%;
        height: 30px;
    }
    #home h1 {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #ffffff;
    }
    #home .MainText {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}